button {
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/ 
     cursor: pointer;
     font-weight: 600;
     font-size: 15px; 
}