 .eliminar{
      width:100%;
      }
.portlet-body{
  overflow-y: scroll;
   height: 400px;  
 }
 input{ 
  border: 0;
  outline:0px !important;
   -webkit-appearance:none;
   background-color:inherit;
  }