doctype html
//
  Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.5
  Version: 4.1.0
  Author: KeenThemes
  Website: http://www.keenthemes.com/
  Contact: support@keenthemes.com
  Follow: www.twitter.com/keenthemes
  Like: www.facebook.com/keenthemes
  Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
  License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
//if IE 8
  html.ie8.no-js(lang='en')  
//if IE 9
  html.ie9.no-js(lang='en')  
// [if !IE] <!
html(lang='en')
  // <![endif]
  // BEGIN HEAD
  head
    meta(charset='utf-8')
    title Metronic | Form Stuff - Material Design Form Controls
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(content='', name='description')
    meta(content='', name='author')
    // BEGIN GLOBAL MANDATORY STYLES
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
    link(href='global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='global/plugins/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
    link(href='global/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='global/plugins/uniform/css/uniform.default.css', rel='stylesheet', type='text/css')
    link(href='global/plugins/bootstrap-switch/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
    // END GLOBAL MANDATORY STYLES
    // BEGIN THEME STYLES
    link#style_components(href='global/css/components.css', rel='stylesheet', type='text/css')
    link(href='global/css/plugins.css', rel='stylesheet', type='text/css')
    link(href='admin/layout2/css/layout.css', rel='stylesheet', type='text/css')
    link#style_color(href='admin/layout2/css/themes/grey.css', rel='stylesheet', type='text/css')
    link(href='admin/layout2/css/custom.css', rel='stylesheet', type='text/css')
    // END THEME STYLES
    link(rel='shortcut icon', href='favicon.ico')
  // END HEAD
  // BEGIN BODY
  // DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices
  // DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default
  // DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle
  // DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle
  // DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle
  // DOC: Apply "page-sidebar-fixed" class to have fixed sidebar
  // DOC: Apply "page-footer-fixed" class to the body element to have fixed footer
  // DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side
  // DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu
  body.page-boxed.page-header-fixed.page-container-bg-solid.page-sidebar-closed-hide-logo
    .page-header.navbar.navbar-fixed-top
      include ../shared/pageTop.jade
    // END HEADER
    .clearfix
    // BEGIN CONTAINER
    .container
      .page-container
        // BEGIN SIDEBAR
        .page-sidebar-wrapper
          // DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
          // DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed
          .page-sidebar.navbar-collapse.collapse
            // BEGIN SIDEBAR MENU
            // DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders)
            // DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode
            // DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode
            // DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
            // DOC: Set data-keep-expand="true" to keep the submenues expanded
            // DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed
            ul.page-sidebar-menu.page-sidebar-menu-hover-submenu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
              li
                a(href='index')
                  i.icon-home
                  span.title Dashboard
                  span.selected
              li
                a(href='visitors')
                  i.icon-basket
                  span.title Funnel
                  span.arrow
                ul.sub-menu
                  li
                    a(href='visitors')
                      i.icon-home
                      | 								Visitors
                  li
                    a(href='leads')
                      i.icon-basket
                      | 								Leads
                  li
                    a(href='sales')
                      i.icon-tag
                      | 								Sales
              li.start.active
                a(href='campaign-builder')
                  i.icon-rocket
                  span.title Campaigns
                  span.arrow
              li
                a(href='forms')
                  i.icon-puzzle
                  span.title Forms
                  span.arrow
                ul.sub-menu
                  li
                    a(href='forms')
                      i.icon-home
                      | 								View All Forms
                  li
                    a(href='formbuilder/index')
                      i.icon-basket
                      | 								Form Builder
              li
                a(href='reporting')
                  i.icon-bar-chart
                  span.title Reporting
                  span.arrow
              li
                a(href='costs')
                  i.icon-wallet
                  span.title Advertising Costs
                  span.arrow
            // END SIDEBAR MENU
        // END SIDEBAR
        // BEGIN CONTENT
        .page-content-wrapper
          .page-content
            // BEGIN STYLE CUSTOMIZER
            .theme-panel
              .toggler.tooltips(data-toggle='modal', href='#basic', data-container='body', data-placement='left', data-html='true', data-original-title='Click to see Tracking Pixel Code')
                i.icon-settings
              .toggler-close
                i.icon-close
            // END STYLE CUSTOMIZER
            // BEGIN PAGE HEADER
            h3.page-title
              | URL Analytics Campaign Builder 
              small Create custom URLs to use in your ads and posts
            // BEGIN PAGE CONTENT
            .row
              .col-md-6
                // BEGIN SAMPLE FORM PORTLET
                .portlet.light
                  .portlet-title
                    .caption.font-red-sunglo
                      i.icon-settings.font-red-sunglo
                      span.caption-subject.bold.uppercase  URL Builder
                  .portlet-body.form
                    form(role='form')
                      .form-body
                        .form-group.form-md-line-input
                          input#form_control_1.form-control(type='text', placeholder='Enter the URL of your website')
                          label(for='form_control_1') Website URL *
                          span.help-block (e.g. http://www.urchin.com/download)
                        .form-group.form-md-line-input
                          input#form_control_1.form-control(type='text', placeholder='Enter your Campaign Source')
                          label(for='form_control_1') Campaign Source *
                          span.help-block (e.g. referrer: google, citysearch, newsletter4).
                        .form-group.form-md-line-input
                          input#form_control_1.form-control(type='text', placeholder='Enter your Campaign Medium')
                          label(for='form_control_1') Campaign Medium *
                          span.help-block (e.g. marketing medium: cpc, banner, email)
                        .form-group.form-md-line-input
                          input#form_control_1.form-control(type='text', placeholder='Enter your Campaign Term')
                          label(for='form_control_1') Campaign Term
                          span.help-block (e.g. identify the paid keywords)
                        .form-group.form-md-line-input
                          input#form_control_1.form-control(type='text', placeholder='Enter your Campaign Content')
                          label(for='form_control_1') Campaign Content
                          span.help-block (e.g. use to differentiate ads)
                        .form-group.form-md-line-input
                          input#form_control_1.form-control(type='text', placeholder='Enter your Campaign Name')
                          label(for='form_control_1') Campaign Name *
                          span.help-block (e.g. product, promo code, or slogan).
                      .form-actions.noborder
                        button.btn.blue(type='button') Generate URL
                // END SAMPLE FORM PORTLET
        // END CONTENT
        // BEGIN QUICK SIDEBAR
        // Cooming Soon...
        // END QUICK SIDEBAR
      // END CONTAINER
    // BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time)
    // BEGIN CORE PLUGINS
    //if lt IE 9
      script(src='global/plugins/respond.min.js')
      script(src='global/plugins/excanvas.min.js')
    script(src='global/plugins/jquery.min.js', type='text/javascript')
    script(src='global/plugins/jquery-migrate.min.js', type='text/javascript')
    // IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip
    script(src='global/plugins/jquery-ui/jquery-ui.min.js', type='text/javascript')
    script(src='global/plugins/bootstrap/js/bootstrap.min.js', type='text/javascript')
    script(src='global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js', type='text/javascript')
    script(src='global/plugins/jquery-slimscroll/jquery.slimscroll.min.js', type='text/javascript')
    script(src='global/plugins/jquery.blockui.min.js', type='text/javascript')
    script(src='global/plugins/jquery.cokie.min.js', type='text/javascript')
    script(src='global/plugins/uniform/jquery.uniform.min.js', type='text/javascript')
    script(src='global/plugins/bootstrap-switch/js/bootstrap-switch.min.js', type='text/javascript')
    // END CORE PLUGINS
    script(src='global/scripts/metronic.js', type='text/javascript')
    script(src='admin/layout2/scripts/layout.js', type='text/javascript')
    script(src='admin/layout2/scripts/demo.js', type='text/javascript')
    script.
      jQuery(document).ready(function() {
      // initiate layout and plugins
      Metronic.init(); // init metronic core components
      Layout.init(); // init current layout
      Demo.init(); // init demo features
      });
    // END JAVASCRIPTS
  // END BODY
