#MyCalendar{
      width: 78%;
      border: 0;
      box-shadow: none;
      background-color: inherit;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      margin-left: 8px;
      margin-right: 8px;
      margin-right: 8px;
      }
      .input-mini.form-control{
        width:79%!important;
      }
      .dashboard-stat2 .display .number h3{
      font-size:16px!important;
      }