// BEGIN SIDEBAR
.page-sidebar-wrapper
          // DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
          // DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed
          .page-sidebar.navbar-collapse.collapse
            // BEGIN SIDEBAR MENU
            // DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders)
            // DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode
            // DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode
            // DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
            // DOC: Set data-keep-expand="true" to keep the submenues expanded
            // DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed
            ul.page-sidebar-menu.page-sidebar-menu-hover-submenu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
              li.start.active
                a(href='/home/dashboard')
                  i.icon-home
                  span.title Dashboard
                  span.selected
              li
                a(href='/home/funnel/visitors')
                  i.icon-basket
                  span.title Funnel
                  span.arrow
                ul.sub-menu
                  li
                    a(href='/home/funnel/visitors')
                      i.icon-home
                      |                 Visitors
                  li
                    a(href='/home/funnel/leads')
                      i.icon-basket
                      |                 Leads
                  li
                    a(href='/home/funnel/sales')
                      i.icon-tag
                      |                 Sales
              li
                a(href='/home/campaign-builder')
                  i.icon-rocket
                  span.title Campaigns
                  span.arrow
              li
                a(href='/home/allforms')
                  i.icon-puzzle
                  span.title Forms
                  span.arrow
                ul.sub-menu
                  li
                    a(href='/home/allforms')
                      i.icon-home
                      |                 View All Forms
                  li
                    a(href='/home/forms/formbuilder')
                      i.icon-basket
                      |                 Form Builder
              li
                a(href='/home/reporting')
                  i.icon-bar-chart
                  span.title Reporting
                  span.arrow
              li
                a(href='/home/costs')
                  i.icon-wallet
                  span.title Advertising Costs
                  span.arrow
            // END SIDEBAR MENU
        // END SIDEBAR