// BEGIN HEADER INNER
.page-header-inner.container
        // BEGIN LOGO
        .page-logo
          a(href='dashboard')
            img.logo-default(src='/Images/dashboard/smarketeer-logo.png', alt='logo')
          .menu-toggler.sidebar-toggler
            // DOC: Remove the above "hide" to enable the sidebar toggler button on header
        // END LOGO
        // BEGIN RESPONSIVE MENU TOGGLER
        a.menu-toggler.responsive-toggler(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse')
        // END RESPONSIVE MENU TOGGLER
        // BEGIN PAGE ACTIONS
        
        // BEGIN PAGE TOP
        .page-top
          // BEGIN TOP NAVIGATION MENU
          .top-menu
            ul.nav.navbar-nav.pull-right
              // BEGIN NOTIFICATION DROPDOWN
              // DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
              li#header_notification_bar.dropdown.dropdown-extended.dropdown-notification
                a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                  i.icon-bell
                  span.badge.badge-default
                    | 7
                ul.dropdown-menu
                  li.external
                    h3
                      span.bold 12 pending
                      |  notifications
                  li
                    ul.dropdown-menu-list.scroller(style='height: 250px;', data-handle-color='#637283')
                      li
                        a(href='javascript:;')
                          span.time just now
                          span.details
                            span.label.label-sm.label-icon.label-success
                              i.fa.fa-plus
                            | 										New lead registered!
                      li
                        a(href='javascript:;')
                          span.time 2 days
                          span.details
                            span.label.label-sm.label-icon.label-danger
                              i.fa.fa-bolt
                            | 										More than 1000 visitors at your site!
                      li
                        a(href='javascript:;')
                          span.time just now
                          span.details
                            span.label.label-sm.label-icon.label-success
                              i.fa.fa-plus
                            | 										New lead registered!
                      li
                        a(href='javascript:;')
                          span.time just now
                          span.details
                            span.label.label-sm.label-icon.label-success
                              i.fa.fa-plus
                            | 										New sale registered!
                      li
                        a(href='javascript:;')
                          span.time 2 days
                          span.details
                            span.label.label-sm.label-icon.label-danger
                              i.fa.fa-bolt
                            | 										More than 2000 visitors at your site!
              // END NOTIFICATION DROPDOWN
              // BEGIN USER LOGIN DROPDOWN
              // DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
              li.dropdown.dropdown-user
                a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                  img.img-circle(alt='', src='/Images/dashboard/daniel-digifianz-academy.png')
                  span.username.username-hide-on-mobile
                    | User
                  i.fa.fa-angle-down
                ul.dropdown-menu.dropdown-menu-default
                  li
                    a(href='extra_profile_account')
                      i.icon-user
                      |  My Profile
                  li
                    a(href='page_todo')
                      i.icon-rocket
                      |  Subscription Plan
                  li.divider
                  li
                    a(href='login')
                      i.icon-key
                      |  Log Out
              // END USER LOGIN DROPDOWN
              // BEGIN USER LOGIN DROPDOWN
              // DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
              li.dropdown.dropdown-extended.quick-sidebar-toggler
                span.sr-only Toggle Quick Sidebar
                i.icon-logout
              // END USER LOGIN DROPDOWN
          // END TOP NAVIGATION MENU
        // END PAGE TOP
      // END HEADER INNER
    // END HEADER