
#account-form-container
	form( method="post")#account-form.form-horizontal.well.span6
	h1
	p#sub1.subheading Please tell us a little about yourself.
	hr
		fieldset
			#email-cg.control-group
				label.control-label(for='email') Email
				.controls
					input(type='email', name='email', id='email', placeholder='Email', autofocus)
			
			p#sub2.subheading
			#user-cg.control-group
				label.control-label(for='password') Password
				.controls
					input.disabled(type='password', name='password', id='password', placeholder='Password')
			#pass-cg.control-group
				label.control-label(for='confirmPassword') Confirm Password
				.controls
					input(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
			hr
			.form-buttons
				button(type='button')#account-form-btn1.btn Se
				button(type='submit')#account-form-btn2.btn
			input(type='hidden', name='_csrf', value=_csrf)