extends layout
block content
  .login-container
    h3 ¿Olvidaste tu contraseña?
          p
            | Escribe tu email abajo para reiniciar tu contraseña
          .form-group
            input.form-control.placeholder-no-fix(type='text', autocomplete='off', placeholder='Email', name='email')
          .form-actions
            button#back-btn.btn.btn-default(type='button') Volver
            button.btn.btn-success.uppercase.pull-right(type='submit') Recuperar