extends layout
block content
  .login-container
    form(action='/signup', method='post')
        h3 Crear una cuenta
        p.hint
          | Ingrese sus datos personales
        .form-group
          label.control-label.visible-ie8.visible-ie9 Nombre de usuario
          input.form-control.placeholder-no-fix(type='text', placeholder='Nombre de Usuario', name='username')
        .form-group
          label.control-label.visible-ie8.visible-ie9 Nombre completo
          input.form-control.placeholder-no-fix(type='text', placeholder='Nombre Completo', name='fullname')
        .form-group
          // ie8, ie9 does not support html5 placeholder, so we just show field title for that
          label.control-label.visible-ie8.visible-ie9 Email
          input.form-control.placeholder-no-fix(type='text', placeholder='Email', name='email')
        .form-group
          label.control-label.visible-ie8.visible-ie9 Pagina web
          input.form-control.placeholder-no-fix(type='text', autocomplete='off', placeholder='Pagina web', name='website')
        .form-group
          label.control-label.visible-ie8.visible-ie9 Contrase単a
          input#register_password.form-control.placeholder-no-fix(type='password', autocomplete='off', placeholder='Contrase単a', name='password')
        .form-group
          label.control-label.visible-ie8.visible-ie9 Re-Escribe la contrase単a
          input.form-control.placeholder-no-fix(type='password', autocomplete='off', placeholder='Re-Escribe la contrase単a', name='rpassword')

        .form-group.margin-top-20.margin-bottom-20
          label.check
            input(type='checkbox', name='tnc')
            |  Estoy de acuerdo con las 
            a(href='javascript:;')
              | Bases y condiciones
            |       & 
            a(href='javascript:;')
              | y la politica de privacidad
          #register_tnc_error
        .form-actions
          button#register-back-btn.btn.btn-default(type='button') Volver
          button#register-submit-btn.btn.btn-success.uppercase.pull-right(type='submit') Registrarme 
  //include modals/alert
  //include modals/lost-password
block scripts  