extends layout


block content 

  .login-container
    form( method="post")#login-form.well.span4
      h1 Sign Up!
      p.subheading Please tell us a little about yourself.
      label(for='email')  Email
      input(type='email', name='email', id='email', placeholder='juan@awesome.com', autofocus=true).span4.required
      label(for='mainWebsite')  Website
      input(type='text', name='mainWebsite', id='mainWebsite', placeholder='www.legendary.com', autofocus=true).span4.required
      label(for='password') Password
      input(type='password', name='password', id='password', placeholder='***********').span4.required
      label(for='confirmPassword') Confirm Password
      input(type='password', name='confirmPassword', id='confirmPassword', placeholder='***********').span4.required
      div.clear-fix
      hr
      .form-buttons
        a.btn.btn-default(role='button',href="/") Cancel
        input.btn.btn-default.pad(type='submit', value='Submit')
      input(type='hidden', name='_csrf', value=_csrf)

  //include modals/alert
  //include modals/lost-password
block scripts
  script(src='/vendor/jquery.min.js')
  script(src='/vendor/jquery.form.js')
  script(src='/vendor/bootstrap-modal.js')
  script(src='/vendor/bootstrap-transition.js')