 
<div class="control-group">
	<label><%- label %> <%if(required){%><em class="red">*</em><%}%></label>
	  <a id="frmb-0-fld-3-edit" class="<%- label %> </label>
toggle-form btn icon-pencil open remove" title="Edit"></a></div>
	<div class="mt-radio-list">
		<% _.each(radios, function(radio, i){ %>
			<label class="mt-radio mt-radio-outline" for="<%- id+'-'+i %>" >
				<input type="radio" name="<%- id %>" id="<%- id+'-'+i %>" value="<%- radio %>"  <% if (i < 1) { %> checked="checked" <% } %><% if(required){ %> required="required"<% } %>>
	      <%- radio %>
				<span></span>
			</label>
		<% }); %>
	</div>
</div>