<!-- Select Multiple -->
<%number=0%>
<div class="control-group">
  <label class="control-label" for="<%- id %>"><%- label %> <%if(required){%><em class="red">*</em><%}%></label>
	  <a id="frmb-0-fld-3-edit" class="<%- label %> </label>
toggle-form btn icon-pencil open remove" title="Edit"></a></div>
  <div class="controls">
    <select id="<%- id %>" <% if(required) {%> required <% } %> name="<%- label %>" class=" SmarketeerField form-control <%- inputsize %>" multiple="multiple"><% _.each(options, function(option) { 
    	if( number==0 ){ number+=1;%>
    		<option class="temphide">-Seleccione una opcion-</option>
    	<%}%>  
      <option value="<%-option%>" ><%- option %></option><% number+=1;}); %>
    </select>
  </div>
</div>
